input{
	beats{
		port => 5044
	}
}

filter{
	grok{
		match => { "message" => "%{IP:client} %{WORD:method} %{URIPATHPARAM:request} %{NUMBER:bytes} %{NUMBER:duration}" }
	}
}

output{
	elasticsearch{
		hosts => "elasticsearch:9200"
		index => "logs-%{+YYYY.MM.dd}"
	}
	stdout{
	    codec => rubydebug
	}
}